<main class="container mt-4">
    <h1 class="mb-4">Dados do Livro</h1>
    <form (ngSubmit)="incluir()">
        <div class="mb-3">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" [(ngModel)]="livro.titulo" name="titulo" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Resumo</label>
            <textarea class="form-control" [(ngModel)]="livro.resumo" name="resumo"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Editora</label>
            <select class="form-control" [(ngModel)]="livro.codEditora" name="codEditora">
               @for (item of editoras; track item.codEditora) {
                <option [value]="item.codEditora">{{ item.nome }}</option>
              }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Autores (um por linha)</label>
            <textarea class="form-control" [(ngModel)]="autoresForm"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salvar Dados</button>
    </form>
</main>